{
    "version": "1.0",
    "lengthFieldSize":{{length_size}},
    "lengthFieldIncluded":{{length_size_included}},
    "header": {
        "enabled": {{header_enabled}},
        "outputKey": "{{header_key}}",
        "length": {{header_length}},
        "components": [
            {%for item in header_components -%}
            {
                "index": {{loop.index}},
                "outputKey": "Field{{loop.index}}",
                "titleEn": "{{item[0]}}",
                "titleZh": "{{item[1]}}",
                "length": {{item[2]}},
                "type": "{{item[3]}}"
            }{%- if not loop.last -%},
            {% endif -%}
            {% endfor %}
        ]
    },
    "body": {
        "outputKey":"body",
        "fields":[
            
        ]
    }
}